{% extends "base.html" %}

{% block content %}
<section class="form-section">
    <h2>Editar Perfil</h2>

    <form method="POST">

        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ nome }}" required><br><br>
    
        <label>Email:</label><br>
        <input type="email" name="email" value="{{ email }}" required><br><br>
    
        <button type="submit">Salvar</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for categoria, mensagem in messages %}
                <p class="{{ categoria }}">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</section>
{% endblock %}