{% extends "base.html" %}

{% block content %}

<div style="max-width: 900px; margin: auto; margin-top: 30px;">

    <h1>{{ materia_title }}</h1>
    <h3>{{ ano_nome }}</h3>

    <hr>

    {% if assuntos %}
        {% for a in assuntos %}
            <div class="card">

                <a href="/conteudo/{{ a.id }}" style="text-decoration:none; color:inherit;">
                    <h3 style="cursor: pointer;">{{ a.titulo }}</h3>
                </a>

            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum conteúdo cadastrado para esta matéria.</p>
    {% endif %}

</div>

{% endblock %}
