{% extends "base.html" %}

{% block content %}
<section class="form-section">

    <h2>Idioma</h2>

    <p>Idioma atual: <b>{{ idioma }}</b></p>

    <form method="POST">
        <button type="submit" name="idioma" value="pt-br">Português</button>
        <button type="submit" name="idioma" value="en-us">Inglês</button>
        <button type="submit" name="idioma" value="es">Espanhol</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for categoria, mensagem in messages %}
                <p class="{{ categoria }}">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</section>
{% endblock %}
