{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>

    <form action="{{ url_for('login_post') }}" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit" class="btn-blue">Entrar</button>

        <p style="margin-top: 20px; text-align: center; font-size: 0.9rem;">
            Ainda não tem conta? 
            <a href="/cadastro" style="color: var(--color-secondary); font-weight: bold; text-decoration: none;">
                Cadastre-se
            </a>
        </p>
        
    </form>
</div>
{% endblock %}