{% extends "base.html" %}

{% block content %}
<section class="form-section">

    <h2>Tema</h2>

    <p>Tema atual: <b>{{ tema }}</b></p>

    <form method="POST">
        <button type="submit" name="modo" value="claro">Tema Claro</button>
        <button type="submit" name="modo" value="escuro">Tema Escuro</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for categoria, mensagem in messages %}
                <p class="{{ categoria }}">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</section>
{% endblock %}
